!!!
html(ng-app="as-chat")
  head
    meta(charset='utf8')
    base(href='/')
    title ApuliaSoft Chat
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/chat.css')
  body
    block body