.fixed-top {
    position: fixed;
    top: 0;
    padding: 10px;
}

.fixed-right {
    position: fixed;
    top: 140px;
    bottom: 55px;
    right: 0;
    width: 20%;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.fixed-left {
    position: fixed;
    top: 140px;
    bottom: 55px;
    left: 0;
    width: 80%;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    padding: 10px;
}